/*!
 * 
 * availity-angular v4.3.0 (04/02/2024)
 * (c) Availity, LLC
 */
.av-block {
  position: relative;
}
body.av-block {
  /* IE8 doesn't support .av-block:not(body) */
  position: static;
}
body.av-block > .av-block-container,
.av-block-main > .av-block-container {
  position: fixed;
}
.av-block-container {
  position: absolute;
  z-index: 10000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 0;
  overflow: hidden;
  opacity: 0;
  filter: alpha(opacity=00);
}
.av-block-active > .av-block-container {
  height: 100%;
  cursor: wait;
}
.av-block-active .av-block-active > .av-block-container {
  height: 0;
}
.av-block-visible > .av-block-container {
  opacity: 1;
  filter: alpha(opacity=100);
}
.av-block-overlay {
  width: 100%;
  height: 100%;
  opacity: 0.5;
  filter: alpha(opacity=50);
  background-color: white;
}
.av-block-message-container {
  position: absolute;
  top: 35%;
  left: 0;
  right: 0;
  height: 0;
  text-align: center;
  z-index: 10001;
}
.av-block-message {
  display: inline-block;
  text-align: left;
  background-color: #333;
  background: none;
  color: #333;
  padding: 20px;
  border-radius: 4px;
  font-size: 20px;
  z-index: 1011;
  font-weight: bold;
  /* needed for IE */
  filter: alpha(opacity=100);
}
[av-datepicker]::-webkit-calendar-picker-indicator,
[data-av-datepicker]::-webkit-calendar-picker-indicator,
.av-datepicker::-webkit-calendar-picker-indicator,
[av-datepicker]::-webkit-clear-button,
[data-av-datepicker]::-webkit-clear-button,
.av-datepicker::-webkit-clear-button,
[av-datepicker]::-webkit-inner-spin-button,
[data-av-datepicker]::-webkit-inner-spin-button,
.av-datepicker::-webkit-inner-spin-button,
[av-datepicker]::-webkit-outer-spin-button,
[data-av-datepicker]::-webkit-outer-spin-button,
.av-datepicker::-webkit-outer-spin-button {
  display: none;
  -webkit-appearance: none;
  margin: 0;
}
.dimmer-content {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 1.25rem;
  display: none;
  z-index: 2;
}
.dimmer-content.dimmer-content-dark {
  background: rgba(77, 79, 83, 0.9);
  color: #FFFFFF !important;
}
[av-hide-permission] {
  display: none;
}
[av-datepicker]::-webkit-calendar-picker-indicator,
[data-av-datepicker]::-webkit-calendar-picker-indicator,
.av-datepicker::-webkit-calendar-picker-indicator,
[av-datepicker]::-webkit-clear-button,
[data-av-datepicker]::-webkit-clear-button,
.av-datepicker::-webkit-clear-button,
[av-datepicker]::-webkit-inner-spin-button,
[data-av-datepicker]::-webkit-inner-spin-button,
.av-datepicker::-webkit-inner-spin-button,
[av-datepicker]::-webkit-outer-spin-button,
[data-av-datepicker]::-webkit-outer-spin-button,
.av-datepicker::-webkit-outer-spin-button {
  display: none;
  -webkit-appearance: none;
  margin: 0;
}
[ng-click],
[data-ng-click],
[x-ng-click] {
  cursor: pointer;
}
[ng-click][disabled],
[data-ng-click][disabled],
[x-ng-click][disabled],
[ng-click].disabled,
[data-ng-click].disabled,
[x-ng-click].disabled,
[ng-click][disabled]:hover,
[data-ng-click][disabled]:hover,
[x-ng-click][disabled]:hover,
[ng-click].disabled:focus,
[data-ng-click].disabled:focus,
[x-ng-click].disabled:focus {
  cursor: auto;
  pointer-events: none;
  text-decoration: none;
}

/*# sourceMappingURL=availity-angular.css.map*/