.dimmer-content {
    position:absolute;
    top:0;
    bottom: 0;
    right:0;
    left:0;
    padding:1.25rem;
    display: none;
    z-index:2;
    &.dimmer-content-dark {
      background:rgba(77, 79, 83, 0.9);
      color:#FFFFFF !important;
    }
}
