
@import 'availity-scaffolding.less';

.block-ui-container {
  z-index: 1010;
}

.av-block-ui-message {
  color: #333;
  background: none;
  z-index: 1011;
}

.dimmer-content {
    position:absolute;
    top:0;
    right:0;
    background:rgba(77, 79, 83, 0.9);
    width:100%;
    height:100%;
    padding:4%;
    display: none;
    text-align:center;
    color:#FFFFFF !important;
    z-index:2;
}
