{
  "presets": ["es2015-loose", "stage-0"],
  "plugins": [
    ["transform-runtime", {"loose": true}],
    ["transform-class-properties", {"loose": true}],
    ["transform-object-assign", {"loose": true}]
  ],
  "compact": true,
  "env": {
    "ci": {
      "plugins": [ "istanbul" ]
    }
  }
}
