---
title: Mask
---

<div data-markdown>
  > To use a mask you must declare the `data-av-mask` attribute and assign a predefined format or a mask definition.
</div>
<div data-markdown>

#### Predefined formats include:

* `data-av-mask="date"` which is equivalent to `99/99/9999`
* `data-av-mask="phone"`  which is equivalent to `(999) 999-9999`
* `data-av-mask="SSN"` which is equivalent to `999-99-9999`

#### Roll a custom mask definition by using:

* `9` for a digit,
* `a` for a letter
* `*` for either a digit or a letter
</div>
<div data-markdown>

</div>

<div data-ng-controller="MaskController">
  <div class="guide-example">
    <form name="datepickerForm">
      <div class="form-group">
        <label for="demoDate">Date</label>
        <input type="text"
           name="date"
           id="demoDate"
           class="form-control"
           data-ng-model="demo.date"
           data-av-mask="date"
        />
      </div>
      <div class="form-group">
        <label for="demoPhone">Phone</label>
        <input type="text"
           name="phone"
           id="demoPhone"
           class="form-control"
           data-ng-model="demo.phone"
           data-av-mask="phone"
          />
      </div>
      <div class="form-group">
        <label for="demoSSN">SSN</label>
        <input type="text"
           name="SSN"
           id="demoSSN"
           class="form-control"
           data-ng-model="demo.ssn"
           data-av-mask="SSN"
          />
      </div>
      <div class="form-group">
        <label for="demoRandom">aa9a*</label>
        <input type="text"
           name="SSN"
           id="demoRandom"
           class="form-control"
           data-ng-model="demo.random"
           data-av-mask="aa9a*"
          />
      </div>
    </form>
  </div>

<code class="language-markup">
  <form name="datepickerForm">
    <div class="form-group">
      <label for="date">Date</label>
      <input type="text"
             name="date"
             class="form-control"
             data-av-mask="date"
        />
    </div>
    <div class="form-group">
      <label for="phone">Phone</label>
      <input type="text"
             name="phone"
             class="form-control"
             data-av-mask="phone"
        />
    </div>
    <div class="form-group">
      <label for="SSN">SSN</label>
      <input type="text"
             name="SSN"
             class="form-control"
             data-av-mask="SSN"
        />
    </div>
    <div class="form-group">
      <label for="A">aa9a*</label>
      <input type="text"
             name="SSN"
             class="form-control"
             data-av-mask="aa9a*"
        />
    </div>
  </form>
</code>

 </div>
