<!doctype html>
<html>
<head>
  {{> defaultHeader}}
</head>
<body class="body">
{{> examplesNav}}

<div class="shell">
  <div class="iframe-container">
    <iframe src="/iframe.html"></iframe>
  </div>
</div>

{{> defaultFooter}}

</body>
</html>
