<!doctype html>
<html>
<head>
  {{> defaultHeader}}
</head>
<body data-ng-app="availity.demo">

{{> nav}}

<main class="guide" data-ng-controller="PageController">
  <div class="container">

    {{#each collections.ui}}
      <section class="guide-section">
        {{#if this.title}}
          <h2 class="guide-section-header">{{{this.title}}}</h2>
        {{else}}
          <h2 style="color:red">**Missing YAML Front Matter Title Attribute**</h2>
        {{/if}}
        {{{this.contents}}}
      </section>
    {{/each}}

  </div>
</main>

{{> defaultFooter}}

</body>
</html>
