<!doctype html>
<html>
<head>
  {{> defaultHeader}}
</head>
<body class="body" data-ng-app="availity.demo">
{{> examplesNav}}

{{{this.contents}}}

{{> examplesFooter}}

{{> defaultFooter}}

</body>
</html>
