<!doctype html>
<html>
<head>
  {{> defaultHeader}}
</head>
<body data-ng-app="availity.demo">

<main class="guide" data-ng-controller="PageController">
 {{{this.contents}}}
</main>

{{> defaultFooter}}

</body>
</html>
