<nav data-av-navbar></nav>


<nav class="navbar navbar-default navbar-secondary navbar-fixed-top mega-menu" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target="#availity-example-navbar-collapse-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="availity-example-navbar-collapse-2">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Patient Registration</a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Claims</a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Payments</a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
        <li class="dropdown dropdown-favorites">
          <button href="#" class="dropdown-toggle btn-favorites" data-toggle="dropdown">Favorites</button>
          <ul class="dropdown-menu favorites-menu" role="menu">
            <li>
              <h5 class="favorites-menu-title">Favorites</h5>

              <div class="favorites-menu-body">
                <a href="#" class="list-group-item">
                  <span class="app-icon app-icon-blue">ar</span> Authorizations &amp; Referrals
                </a>
                <a href="#" class="list-group-item">
                  <span class="app-icon app-icon-orange">eb</span> Eligibility &amp; Benefits
                </a>
                <a href="#" class="list-group-item">
                  <span class="app-icon app-icon-is-branded">
                    cr
                    <span class="caret"></span>
                  </span>
                  Humana Credentialing Status
                </a>

                <a href="#" class="list-group-item">
                  <span class="app-icon app-icon-is-branded-alt">
                    pr
                    <span class="caret"></span>
                  </span>
                  Provider Management
                </a>
              </div>
              <div class="favorites-menu-footer">
                <a href="#">Manage Favorites</a>
              </div>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Payer Spaces</a>
          <ul class="dropdown-menu mega-menu-default mega-menu-md" role="menu">
            <li>
              <div class="mega-menu-content">
                <h5 class="mega-menu-title">My Patient Access Apps</h5>

                <div class="list-group list-group-unstyled">
                  <a href="#" class="list-group-item">
                    <span class="app-icon app-icon-orange">ai</span> Eligibility &amp; Benefits
                  </a>
                  <a href="#" class="list-group-item">
                    <span class="app-icon app-icon-orange">ai</span> Care Reminders
                  </a>
                  <a href="#" class="list-group-item">
                    <span class="app-icon app-icon-orange">ai</span> Patient Care Summary
                  </a>
                  <a href="#" class="list-group-item">
                    <span class="app-icon app-icon-orange">ai</span> Authorizations &amp; Referrals
                  </a>
                </div>
              </div>
              <div class="mega-menu-content mega-menu-feature">
                <h4>Availity Premium Apps</h4>

                <p>
                </p>

                <div class="row">
                  <div class="col-sm-8">
                    <p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis
                      parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
                  </div>
                  <div class="col-sm-4">
                    <button class="btn btn-primary btn-block">Upgrade Today</button>
                  </div>
                </div>
                <p></p>

                <p><a href="#">Learn More</a></p>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

